@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    color: white;
    background-image: url('https://kam-man.ru/upload/iblock/9b7/9b749390707c31eb624e19776b5a0ad9.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // https://images.unsplash.com/photo-1451187580459-43490279c0fa?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
