<section class="planets">
    <div class="btn" >
        <button class="left" (click)="back()">Back</button>
        <span>Page {{currentPage}} of {{countPages}}</span>
        <button class="right" (click)="next()">Next</button>      
    </div>
        <div class="planet" *ngFor="let planet of planetsData">
            <div *ngIf="planet.url" (click)="goToPlanetPage(planet.url)">
            <div class="front">
                <h2>{{planet.name}}</h2>
            </div>
            <div class="back">
            <h3>{{planet.name}}</h3>
            <p>
                <span>Climate:</span> {{planet.climate}}
                <br/>
                <span>Rotation period:</span> {{planet.rotation_period}}
                <br/>
                <span>Orbital period:</span> {{planet.orbital_period}}
                <br/>
                <span>Diameter:</span> {{planet.diameter}}
                <br/>
                <span>Created:</span> {{planet.created}}
                <br/>
                <span>Edited:</span> {{planet.edited}}
                <br/>
                <span>Gravity:</span> {{planet.gravity}}
                <br/>
                <span>Population:</span> {{planet.population}}
                <br/>
                <span>Surface water:</span> {{planet.surface_water}}
                <br/>
                <span>Terrain:</span> {{planet.terrain}}      
            </p>
        </div>
        </div>
    </div>
</section>
